@model PackWalkLicenta.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalii utilizator</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

     

    </dl>
</div>
<p style="text-align:right">
    @Html.ActionLink("Înapoi la lista de utilizatori", "Index")
</p>
